body{
    box-sizing: border-box;
    background-color: aliceblue;
}
header{
    position: fixed;
    width: 100%;
    height: 90px;
    background-color:aliceblue;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    top: 0px;
    left: 0px;
    box-shadow: 5px 0px 8px grey;
}
.logo span{
    position: relative;
    top: 25px;
    left: 50px;
    font-weight: 600;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.likes>ul{
    position: relative;
    right: 30px;
    display: flex;
    gap: 10px;
    top: 20px;
    font-size: 18px;
    list-style-type: none;
}
.likes ul button{
    position: relative;
    width: 120px;
    height: 40px;
    top: -10px;
    border-radius: 3px;
    
}
#rajesh{
    color: rgb(2, 2, 252);
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    border: .1px solid black;
    background-color: transparent;
}
#rajesh:hover{
    background-color: #e8e8e8;
}
#rajesh1{
    background-color: rgb(60, 60, 255);
    color: white;border: none;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
#rajesh1:hover{
    box-shadow: 5px 5px 5px gray;
}
#rajesh1:active{
    transform: scaleX(1.050);
}
.likes button{
    position: relative;
    width: 100%;
    height: 20px;
    border: 1px solid black;
    top: -2px;
    border-radius: 2px;
}
.body{
    position: relative;
    width: 105%;
    height: 400px;
    background-color:#e8e8e8;
    display: flex;
    -ms-flex-direction: column;
    top: 80px;
    left: 0px;

}
.body .photo{
    position: relative;
    width:1500px;
    height: 400px;
    background-color:transparent;
    left: 0px;
}
.body img{
    position: relative;
    width: 810px;
    height: 400px;
    left: 0px;
}
.write{
    position: relative;
    width: 830px;
    height: 400px;
    
} 
.write .tect{
    position: relative;
    width: 400px;
    height: 300px;
    background-color:transparent;
    top: 50px;
    left: -50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.tect p{
    font-size: 14px;
}

.body1{
    position: relative;
    width: 105%;
    height: 400px;
    background-color:transparent;
    top: 58px;
    display: flex;
}
.body1 .write1{
    position: relative;
    width: 810px;
    height: 400px;
    background-color:transparent;
    
}.write1 .tect1{
    position: relative;
    width: 600px;
    height: 300px;
    background-color:transparent;
    top: 60px;
    left: 70px;
}
.write1 .tect1 h1{
    font-size: 35px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.write1 .tect1 p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.photo1{
    position: relative;
    width: 800px;
    height: 400px;
}
.photo1 img{
    position: relative;
    width: 800px;
    height: 400px;
    top: 23px;
    left: 43px;

}
@media (max-width:480px)
{
    body{
        width: 480px;
    }
    header{
        width: 480px;
        height: 150px;
        flex-direction: column;
    }
    .body{
        top: 140px;
        width: 480px;
        height: 300px;
        flex-direction: column;
    }
    .body img{
        width: 480px;
        height: 300px;
        flex-direction: column;
    }
    .body .write{
        width: 480px;
        height: 300px;
    }
    .write .tect{
        left: 50px;
        
    }
    .body1{
        top: 350px;
        width: 480px;
        height: 300px;
        flex-direction: column;
    }
    .body1 .write1{
        width: 480px;
        flex-direction: column;
    }
    .write1 .tect1{
        width: 400px;
        height: 300px;
        left: 50px;


    }
    .photo1 img{
        left: -10px;
        top: 100px;
        width: 480px;
        height: 300px;

    }
    
    
}